<div class="container mt-5" *ngIf="product">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-9">
          <img
            src="{{ product.pictureUrl }}"
            alt=" {{ product.name }}"
            class="img-fluid"
            width="400px"
            height="300px"
          />
        </div>
        <div class="col-md-3">
          <h5>{{ product.name }}</h5>
          <p style="font-size: 2em;">₦{{ product.price }}</p>
          <div class="align-items-center">
            <i  (click)="decrementQuantity()"
              class="fa fa-minus-circle text-warning mr-2"
              style="cursor: pointer; font-size: 2em;"
            ></i>
            <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
            <i (click)="incrementQuantity()"
              class="fa fa-plus-circle text-warning mx-2 ml-4"
              style="cursor: pointer; font-size: 2em;"
            ></i>
            <button (click)="addItemToBasket()" class="btn btn-outline-primary btn-lg">
              Add to Cart
            </button>
          </div>
        </div>

        <div class="mt-5">
          <div class="card">
            <div class="card-header">
              <h4>Description</h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ product.description }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      
      <div class="card">
        <div class="card-header bg-light">
          <h6>DELIVERY & RETURNS</h6>
        </div>
        
        <ul class="list-group my-3">
          <li class="list-group-item">
            <p class="text-info">Delivery Information</p>
            <p>
              Normally delivered between Thursday 28 May and Monday 1 Jun.
              Please check exact dates in the Checkout page.
            </p>
          </li>
          <li class="list-group-item">
            <p class="text-info">Return Policy</p>
            <p>
              Free return within 15 days for Jumia Mall items and 7 days for
              other eligible items.See more
            </p>
          </li>

          <li class="list-group-item">
            <p class="text-info">Warranty</p>
            <p>1 Year Warranty Period</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
