
     
          <div class="card">
              <div class="card-body">
                  <div class="card-img-actions"> 
                    <img src="{{product.pictureUrl}}" class="card-img img-fluid" width="96" height="350" alt="{{ product.name }}"> </div>
              </div>
              <div class="card-body bg-light text-center">
                  <div class="mb-2">
                      <h6 class="font-weight-semibold mb-2"> <a routerLink="/shop/{{product.id}}" class="text-default mb-2" data-abc="true">
                        {{ product.name }}</a> </h6> <a href="#" class="text-muted" data-abc="true">
                          {{ product.productBrand }}</a>
                  </div>
                  <h3 class="mb-0 font-weight-semibold">₦{{ product.price }}</h3>
                  <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                  <div class="text-muted mb-3">34 reviews</div> 
                  <button type="button" class="btn bg-cart"  (click)="addItemToBasket()">
                    <i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
              </div>
          </div>
      
      
 